@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<partial name="_Partail_Admin" />

<div class="col-lg-9 col-12 col-lg-9 my-3  ">
    <div class="table-container px-5 pt-5">
        <div class="row">
  <div class="col-6 py-2">
                <a class="nav-link btn  rounded-2" asp-controller="FAQs" asp-action="Index">FAQs</a>

        </div>  <div class="col-6">
                <a class="nav-link btn  rounded-2" asp-controller="Writers" asp-action="Index">Writer</a>

            </div>  <div class="col-6 py-2">
                <a class="nav-link btn  rounded-2" asp-controller="ProductCategories" asp-action="Index">Category</a>

        </div>  <div class="col-6">
                <a class="nav-link btn  rounded-2" asp-controller="Countries" asp-action="Index">Country</a>

            </div>  <div class="col-6 py-2">
                <a class="nav-link btn  rounded-2" asp-controller="Cities" asp-action="Index">City</a>

        </div> <div class="col-6">
                <a class="nav-link btn  rounded-2" asp-controller="TownsAdresses" asp-action="Index">Towns</a>

        </div>
        </div>
    </div>
</div>

    </div>
</div>

