@model Book_kharido.Models.Publisher

@{
    ViewData["Title"] = "Details";
}

<partial name="_Partail_Admin" />
<div class="col-lg-9 col-12 col-lg-9 my-3">
    <a asp-action="AddProduct" asp-controller="Admin" class="btn float-end rounded-2">+</a>

    <div class="table-container">
<div>
    <h4>Publisher</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublisherName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublisherName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PublisherId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
    </div>
</div>
</div>
